<div class="contenedor">
    
    <br>   
    <br>
    <h1 style="width: 100%; font-weight: 500; text-align: center;">Registro de examen</h1> 

    <form class="form form-one-c" [formGroup]="formGroup" (ngSubmit)="crearExamen()">

        <div class="form-cntr">               
    
            <p>
                <mat-form-field appearance="outline" style="width: 100%;">
                    <mat-label>Nombre</mat-label>
                    <input matInput placeholder="Ingrese el nombre" formControlName="nombre">
                    <mat-icon matSuffix>edit</mat-icon>
                    <mat-hint>Mínimo 2 y máximo 26 letras</mat-hint>
                </mat-form-field>
            </p>
    
            <p>
                <mat-form-field appearance="outline" style="width: 100%;">
                    <mat-label>Descripción</mat-label>
                    <input matInput placeholder="Ingrese la descripción" formControlName="descripcion">
                    <mat-icon matSuffix>edit</mat-icon>
                    <mat-hint>Mínimo 2 y máximo 120 caracteres</mat-hint>
                </mat-form-field>
            </p>     
            
            <p>
                <button type="submit" color="primary" style="float: right;" mat-fab aria-label="Example icon-button with a heart icon">
                    <mat-icon>done</mat-icon>
                </button>
            </p>
    
        </div> 

    </form>

</div>