/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

li {
    list-style: none;
}

.contenedor {
    position: absolute;
    width: 80%;
    left: 10%;
    height: auto;
    margin: 0 auto;        
}

form {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    gap: 1rem 1.5rem;
}

.form-one-c {
    grid-template-columns: 1fr;
}

.my-table {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.my-table tr > *{
    display: block;
    padding: .6rem 0;
    text-align: center;
    border-bottom: 1px solid #ccc;
}

.paginador-cntr {
    display: flex;
    width: 100%;
    margin-top: 45px;    
    justify-content: center;  
}

.paginador-cntr > li {
    margin-right: 15px;    
}

.paginador-cntr > li:last-child {
    margin-right: 0;
}
