/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.contenedor {
    position: absolute;
    width: 60%;
    left: 20%;
    height: auto;
    margin: 0 auto;        
}

form {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    gap: 1rem 1.5rem;
}
